.about{
    text-align: left;
    padding: 35px 16.5px;
    margin-bottom: 33px;
}

.about-text-content{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    gap: 34px;
    margin-bottom: 35px;
}

.about-text-content-heading, .about-text-content-claims-items > h3 {
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0%;
}

.about-text-content-para{
    color: #393939;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -1.5%;
    margin-right: 50px;
}

.about-text-content-claims{
    display: flex;
    flex-wrap: wrap;
    gap: 37px;
}

.about-text-content-claims-items{
    display: flex;
    flex-direction: column;
    content: fit-content;
    max-width: 134px;
    gap: 17px;
}

.about-text-content-claims-items > p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -1.5%;
    color: #bcbcbc;
}

.about-image{
    margin-top: 47px;
}

.about-image > img {
    width: 100%;
}


@media screen and (min-width: 768px) {
    .about{
        display: flex;
        flex-direction: row-reverse;
        padding: 50px 64px;
        gap: 40px;
    }
    .about-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 55%;
        gap: 48px;
    }
    .about-text-content{
        margin-bottom: 0px;
    }
    .about-text-content-heading{
        font-size: 48px;
        line-height: 68px;
    }
    .about-text-content-para{
        font-size: 20px;
        line-height: 32px;
        letter-spacing: 0%;
        color: #000000;
    }
    .about-text-content-claims{
        width: 100%;
        text-align: left;
    }
    .about-text-content-claims-items > p{
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0%;
        color: #bcbcbc;
    }
    .about-image{
        width: 45%;
    }
}