.footer{
    display: flex;
    flex-direction: column;
    padding: 35px 16.5px;
    gap: 28px;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 23px;
}

.footer-text{
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    color: #969696;
    padding-right: 41px;
}

.footer-logo-square-text{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-logo-square {
  width: 22px;
  height: 22px;
  background-color: var(--button-color);
  margin-right: 8px;
}

.footer-logo-text {
  font-weight: 400;
  color: #000;
  font-size: 24px;
}

.footer-liks{
    display: flex;
    flex-wrap: wrap;
    gap: 73px;
}

.footer-link{
    display: flex;
    flex-direction: column;
    gap: 38px;
}

.footer-link-heading{
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0%;
}

.footer-link-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style-type: none;
}


.footer-link-list > li {
    font-size: 14px;
    font-weight: 500;
    content: fit-content;
    line-height: 22px;
    letter-spacing: -1.5%;
}


@media screen and (min-width:768px) {
    .footer{
        display: flex;
        flex-direction: row-reverse;
        padding: 78px 83.5px 93px 46.5px;
        background-color: var(--section-background-color);
    }
    .footer-logo {
        display: flex;
        align-items: end;
        width: 40%;
    }
    .footer-text{
        display: flex;
        align-items: end;
        padding-right: 0px;
    }
    .footer-liks{
        display: flex;
        flex-direction: row;
        width: 60%;
    }
    .footer-link-heading{
        font-size: 32px;
        line-height: 40px;
    }
    .footer-link-list > li {
        font-size: 16px;
        font-weight: 500;
        content: fit-content;
        line-height: 24px;
        letter-spacing: -1.5%;
    }    

}